@charset"utf-8";

/* CSS Document */
body {
    font-size: 14px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;

    text-align: center;
}
article {
    margin: 0 auto;
    padding: 0;
}
a {
    text-decoration:none;
}
form {
    background: #069;
    text-align: left;
    transition: 2s;
    margin-bottom: 10px;
    padding: 20px;
}
fieldset {
    margin: 0;
    padding: 0;
}
label {
    padding: 8px;
    display: inline-block;
    line-height: 20px;
    height: 20px;
    color: #CC3;
    margin: 0;
}
input {
    outline: none;
    border: 1px solid #999;
    padding: 3px 0;
    border-radius: 5px;
    height: 20px;
}
input:focus {
    box-shadow: inset 0 0 4px #00FF99;
    background: #CF9;
}
legend {
    color: #FFF;
    text-shadow: 0 0 3px #999999;
    margin: 0;
    padding: 0;
}

/*大结构布局*/

.main-wrap{margin:0 auto;text-align:left;}
.col-main {float:left; width:100%;  min-height:1px;}
.col-sub, .col-extra {float:left;}
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after,.item ul:after{content:'\20'; display:block; height:0; clear:both;visibility: hidden;}
.layout, .main-wrap, .col-sub, .col-extra {*zoom:1;}

/*浮动*/

.left_part{float:left;}
.right_part{float:right;}

/*小区块布局*/

.fl{float:left;}
.fr{float:right;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

/*字体*/

.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}

.fs{font-family:'宋体';}
.fw{font-family:'微软雅黑';}
.fa{font-family:Arial, Helvetica, sans-serif;}

/*内容布局*/

.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}

/*显示与溢出处理*/

.dn{display:none;}
.db{display:block;}
.dib{-moz-inline-stack:inline-block; display:inline-block;}
.di{display:inline;}
.ovh{overflow:hidden;}
.ovs{overflow:scroll;}
.vh{visibility:hidden;}
.vv{visibility:visible;}


/*effect*/

.radius {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

/*温馨提示*/
.tips{
    display: none;
}



/*主内容区*/

.col-main .mainarea{
    margin-left: 230px;
}
.col-main .mainarea.over{
    margin-left: 180px;
}
.col-sub{
    margin-left: -100%;
    width: 230px;
    height: 100%;
}
.content .sidebar {
    padding-bottom: 20px;
}
.sidebar ul {
    width:184px;
    margin:20px auto 0 auto;
    padding:5px 0;
}
.sidebar li {
    text-align:center;
    width:100%;
    padding:10px 0;
    font-size: 14px;
}
.sidebar li:hover,
.sidebar li.cur{
    background:#EDEDED;
    border-left:3px solid darkmagenta;
    transition:.3s;
}
.sidebar li:hover a ,
.sidebar li.cur a{
    color:darkmagenta;
    text-decoration:none;
}
.sidebar li a {
    color:#000;
}
.sidebar li.side-about{
    background: darkmagenta;
    cursor: pointer;
    transition:.5s;
    margin-top: 20px;
    padding: 0;
}
.sidebar li.side-about a{
    color: #FFF;
    display:block;
    width: 100%;
    line-height: 34px;
}
.sidebar li.side-about:hover{
    border-radius: 10px;
    border: none;
    background: darkmagenta;
}
.sidebar_list{
    transition:.5s;
}
.sidebar_list.over{
    position:fixed;
    top:86px;
    left: 23px;
    bottom:100px;
    width:184px;
    transform:translateY(30px);
}
.content .mainarea {
    float: left;
    width: 75%;
    text-align:left;
    padding:20px 30px 10px 30px;
    display:none;
}
.mainarea h2 {
    font-size:16px;
    padding-bottom:10px;
    border-bottom:1px solid plum;
}
.mainarea h3 {
    margin-bottom:10px;
    padding-left: 15px;
    border-left: 3px solid darkmagenta;
    color: darkmagenta;
}
.mainarea ul li {
    margin-bottom:10px;
}
.mainarea ul li .tip-pop{
    position: absolute;
    top:100%;
    left: 20%;
    padding:5px;
    display: none;
    border-radius: 5px;
    background: #FFF;
    min-width: 150px;
    text-align: left;
    box-shadow: 0 0 2px 2px #CCC;
    z-index: 10;
    font-size: 12px;
    line-height: 1.5;
    color: darkmagenta;
}
.mainarea ul li:hover .tip-pop{
    display:block;
}
.mainarea ul li a sup {
    color:#F00;
    font-size:12px;
}
.mainarea ul li a:hover {
    text-decoration: none;
}
.mainarea ul li span {
    padding-left:30px;
}
.mainarea .mod {
    padding-top:30px;
    border-top: 1px solid #DDD;
}
.mainarea .mod:first-child{
    border: none;
    padding-top: 0;
}
.mainarea .mod .sub_mod{
    padding-left: 30px;
    margin-top: 20px;
}
/*sitemap*/

article.item ul li a:hover {
    text-decoration:underline;
}
.item{
    -webkit-animation:down-up .5s;
    animation:down-up .5s;
}
@-webkit-keyframes down-up{
    0%{
        -webkit-transform:translateY(150px) rotateZ(10deg);
        transform:translateY(150px) rotateZ(10deg);
        box-shadow: 0 0 4px 0 #CCC;
    }
    100%{
        -webkit-transform:none;
        transform:none;
        box-shadow: none;
    }
}
@keyframes down-up{
    0%{
        -webkit-transform:translateY(150px) rotateZ(10deg);
        transform:translateY(150px) rotateZ(10deg);
        box-shadow: 0 0 4px 0 #CCC;
    }
    100%{
        -webkit-transform:none;
        transform:none;
        box-shadow: none;
    }
}
.item ul {
    padding:5px 0;
    margin:20px 0 0 0;
}
.item ul li {
    float:left;
    width:auto;
    border:1px solid darkmagenta;
    border-radius:5px;
    text-align:center;
    margin:0 10px 10px 5px;
    cursor: pointer;
    transition:.1s ease-in;
}
.item ul li:hover {
    -o-box-shadow:0 0 3px 0px darkmagenta,0px 1px 6px 0px #888;
    box-shadow:0 0 3px 0px darkmagenta,0px 1px 6px 0px #888;
    transform:translateY(-3px);
}
.item ul li:hover a:hover {
    text-decoration: none;
}
.item ul li a {
    color:#000;
    display: block;
    padding: 15px;
}

/*书籍*/

.book .off{
    position: relative;
}
.book .off:after{
    content: "已下架";
    position:absolute;
    color: #F00;
    left: 50%;
    bottom: 0px;
    font-size: 12px;
}
/*微信公众号*/

.public_media{
    padding-bottom: 50px;
}
.public_media ul li  .erwei{
    position: absolute;
    left: 0;
    bottom:-115px;
    transition:.5s;
    display: none;
    z-index: 10;
    background: #FFF;
    box-shadow: 0 0 8px 2px #CCC;
}
.public_media ul li img{
    width: 100px;
    height: 100px;
}
.public_media ul li:hover .erwei{
    display:block;
    z-index: 10;
}
/*文章*/

.article ul li{
    float: none;
    margin:0;
    margin-bottom: 10px;
    border-radius: 0;
    border: none;
    text-align: left;
    overflow: hidden;
    width: 80%;
    padding-left: 30px;
    cursor: inherit;
}
.article ul li a{
    padding: 0;
    display:inline-block;
    width: 70%;
    color: #037B1C;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mainarea.article ul li a:hover{
    color:#3ACA57 ;
    text-decoration: underline;
}
.article ul li .article-author{
    float: right;
    margin-left: 20px;
    width: 100px;
    color: #888;
    position: relative;
    text-align: left;
}
.article ul li .article-author:before{
    content: "";
    position: absolute;
    left: -5px;
    top: 6px;
    width: 30px;
    height: 0;
    border-bottom: 1px solid #888;
}
.article ul li:hover {
    box-shadow:none;
    transform:none;
}
/*about*/

.about .mod{
    margin-top: 13px;
    border: none;
}
.about .mod h2{
    color: darkmagenta;
    margin-bottom: 20px;
}
.about .mod a{
    color: darkmagenta;
}
.about .mod p{
    line-height: 1.5;
}


@media screen and (max-width: 800px){
    body{
        font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, Arial,sans-serif;
    }
    a{
        -webkit-tap-highlight-color:rgba(255,255,255,0);
    }
    .tips{
        color: #FF861A;
        padding:10px 0;
        font-size: 12px;
        text-align: center;
        display: block;
    }
    /*主内容*/
    .col-main{
        width: auto;
    }
    .main-wrap{
        padding-top: 160px;
    }
    .col-main{
        float: none;
    }
    .content .mainarea{
        width: auto;
        font-size: 12px;
    }
    .content .mainarea li a{
        padding: 5px;
    }
    .content .mainarea,.col-main .mainarea.over{
        float: none;
        margin-left: 0;
        padding:5px;
    }
    .item{
        -webkit-animation:paused;
        animation:paused;
    }
    .item ul{
        margin:10px 0;
    }
    .item ul li{
        margin: 0 5px 5px 5px;
    }
    .item .mod{
        padding-top: 10px;
    }
    .mainarea .mod .sub_mod{
        padding-left: 10px;
        margin-top: 5px;
    }
    .book .off:after{
        left: 100%;
        width: 40px;
        bottom: 0px;
        font-size: 12px;
    }
}